*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container button{
    padding: 15px 30px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s ;
}

.container button:hover{
    background: #0071E2;
    border-color: transparent;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF,
    0 0 20px #FFF;
    box-shadow: 0 0 5px #0071E2, 0 0 20px #0071E2, 0 0 50px #0071E2,
    0 0 100px #0071E2;
}