*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container h2{
    color: #FFF;
    font-size: 40px;
    transition: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.container h2:hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #BB0505,
    0 0 20px #BB0505, 0 0 25px #BB0505, 0 0 30px #BB0505;
}